btop/
cef_user_data/
dconf/
discord/
dolphin-emu/
dunst/
Element/
flameshot/
google-chrome/
gtk-2.0/
gtk-3.0/
i3status/
Pinta/
pulse/
Raspberry\ Pi/
retroarch/
unity3d/
whoozle.github.io/
mimeapps.list
user-dirs.dirs
user-dirs.locale
mpdasrc
