btop/
balena-etcher/
cef_user_data/
Code/
dconf/
discord/
dolphin-emu/
dunst/
Element/
flameshot/
google-chrome/
gtk-2.0/
gtk-3.0/
i3status/
OpenUtau/
Pinta/
pulse/
qBittorrent/
Raspberry\ Pi/
retroarch/
unity3d/
whoozle.github.io/
mimeapps.list
user-dirs.dirs
user-dirs.locale
mpdasrc
.mpdasrc
QtProject.conf
greenclip.toml
music-notif.sh
