/* hides the native tabs */
#TabsToolbar {
  visibility: collapse;
}
#titlebar {
  visibility: collapse;
}
#sidebar-header {
  visibility: collapse !important;
}
#logo-and-wordmark {
  background-color: #000 !important;
}
